@()
@layouts.html.default("Welcome to The Settler", ""){





<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>Settlers of Catan Game Tiles</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="left-panel">
    <div class ='players'>
        <div class ='playerU'>
            <p>playerU</p>
        </div>
        <div class ='player1'>
            <p>player1</p>
        </div>
        <div class ='player2'>
            <p>player2</p>
        </div>
        <div class ='player3'>
            <p>player3</p>
        </div>
    </div>
    <div class = "chat-log">
        <p>chatlog</p>
    </div>
</div>
<div class="middle">
    <div class="settlers">
        <div class='row'>
            <div class='img-wrap'>
                <div class='tile forest'></div>
                <span class='disc'>11</span>
            </div>
            <div class='img-wrap'>
                <div class='tile pasture'></div>
                <span class='disc'>12</span>
            </div>
            <div class='img-wrap'>
                <div class='tile fields'></div>
                <span class='disc'>9</span>
            </div>
        </div>
        <div class='row'>
            <div class='img-wrap'>
                <div class='tile hills'></div>
                <span class='disc'>4</span>
            </div>
            <div class='img-wrap'>
                <div class='tile mountains'></div>
                <span class='disc red'>6</span>
            </div>
            <div class='img-wrap'>
                <div class='tile hills'></div>
                <span class='disc'>5</span>
            </div>
            <div class='img-wrap'>
                <div class='tile pasture'></div>
                <span class='disc'>10</span>
            </div>
        </div>
        <div class='row'>
            <div class='img-wrap'>
                <div class='tile desert'></div>
            </div>
            <div class='img-wrap'>
                <div class='tile forest'></div>
                <span class='disc'>3</span>
            </div>
            <div class='img-wrap'>
                <div class='tile fields'></div>
                <span class='disc'>11</span>
            </div>
            <div class='img-wrap'>
                <div class='tile forest'></div>
                <span class='disc'>4</span>
            </div>
            <div class='img-wrap'>
                <div class='tile fields'></div>
                <span class='disc red'>8</span>
            </div>
        </div>
        <div class='row'>
            <div class='img-wrap'>
                <div class='tile hills'></div>
                <span class='disc red'>8</span>
            </div>
            <div class='img-wrap'>
                <div class='tile pasture'></div>
                <span class='disc'>10</span>
            </div>
            <div class='img-wrap'>
                <div class='tile pasture'></div>
                <span class='disc'>9</span>
            </div>
            <div class='img-wrap'>
                <div class='tile mountains'></div>
                <span class='disc'>3</span>
            </div>
        </div>
        <div class='row'>
            <div class='img-wrap'>
                <div class='tile mountains'></div>
                <span class='disc'>5</span>
            </div>
            <div class='img-wrap'>
                <div class='tile fields'></div>
                <span class='disc'>2</span>
            </div>
            <div class='img-wrap'>
                <div class='tile forest'></div>
                <span class='disc red'>6</span>
            </div>


        </div>
    </div>

</div>
<div class="right-panel">
    <div className="switch-basics-example">
        <Switch/>
    </div>

    <div class="cards">
        <p>cards</p>
    </div>
</div>
</body>
</html>
}